#map-canvas {
   	width: 700px;
    height: 550px;
   	margin: 0;
   	padding: 0;
   	display: inline;
   	float: left;
}


#filter {
	display:inline;
	float:left;
	padding-left: 15px;
	font-size:12;
}

#filter label {
	display:block;
	font-weight: 530;
	color: #004d40;
}

.filterSection {
	padding-top: 15px;
	padding-bottom: 15px;
}

#usr_lat, #usr_long {
	display: none;
}