.navbar-color {
  background-color: #43A047;
  border-color: #388E3C;
}

.navbar-brand {
  color: #1B5E20;
	font-weight:bold; 
	font-size:200%;
}

.navbar-brand:hover {
	color: #F1F6F0;
}

.right-btn {
  font-weight: bold;
  color: #F1F6F0;
}

.user_name {
    color: #F1F6F0;
}

.content-btn {
	font-weight:bold;
	color: #F1F6F0;
	background-color: #66bb6a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right:10px;
}

body {
  background-color: #E8F5E9;
}

