.navbar-color {
  background-color: #43A047;
  border-color: #388E3C;
}

.navbar-brand {
  color: #F1F6F0;
	font-weight:bold; 
	font-size:200%;
}

.navbar-brand:hover {
	color: #1B5E20;
}

.navbar-btn {
	font-weight:bold;
  background-color: #2E7D32;
  border-color: #1B5E20;
  color: #F1F6F0;
}

.navbar-btn:hover {
	color:#FFFFFF;
}

.content-btn {
	font-weight:bold;
	color: #F1F6F0;
	background-color: #66bb6a;
	margin-bottom: 20px;
}

body {
  background-color: #E8F5E9;
}