{% extends "GreenCity/base_site.html" %}
{% load static from staticfiles %}
{% block content %}

      <div>
          <button  type="button" class="btn content-btn" onclick="toggleHeatmap()">Toggle Heatmap</button>
          <button  type="button" class="btn content-btn" onclick="reset_map()">Center Map</button>
      </div>

      <div class="row">
        <div id="map-canvas"></div>
        <div id="filter">
          <form id= "filterForm" action="">
            {% csrf_token %}
            <div class="filterSection">
							<label><input id="feature_checker" type="checkbox" checked/>&nbsp;Check All</label>
              <labeL><input type="checkbox" name="feature" value="Park" checked/>&nbsp;Parks</label>
              <labeL><input type="checkbox" name="feature" value="BikeRack" checked/>&nbsp;Bike Racks</label>
              <labeL><input type="checkbox" name="feature" value="GreenCityProject" checked/>&nbsp;Green Projects</label>
              <labeL><input type="checkbox" name="feature" value="ElectricVehicleChargingStation" checked/>&nbsp;Electric Vehicle Charging Stations</label>
              <labeL><input type="checkbox" name="feature" value="CommunityGarden" checked/>&nbsp;Community Gardens</label>
              <labeL><input type="checkbox" name="feature" value="CommunityMarket" checked/>&nbsp;Community Markets</label>
            </div>
            <div class="filterSection">
              <labeL> Search By &nbsp; <input type="text" name="searchBox" maxlength="25"/> </label>
            </div>
            <div class="filterSection">
              <label> Within &nbsp; 
                <select name="distance"> 
                  <option value="">-</option>
                  <option value="2">2km</option>
                  <option value="5">5km</option>
                  <option value="10">10km</option>
                  <option value="15">15km</option>
                  <option value="25">25km</option>
                  <option value="50">50km</option>
                </select>
              </label>
              <input id="usr_lat" type="text" name="latitude"/>
              <input id="usr_long" type="text" name="longitude"/>
          </div>
          </form>
          <button class="btn content-btn" type="submit" onclick="filter_data()" id="submitButton">Apply</button>
        </div>
      </div>
      <div id="fb-sb" class="fb-share-button" data-href="http://team-django-unchained.herokuapp.com" data-layout="button"></div>

{% endblock %}

{% block scripts %}

    <script src = {% static "javascript/initialize_map.js" %}></script>
    <script src = {% static "javascript/filter.js" %}></script>
    <script src = {% static "javascript/favorites.js" %}></script>

    <script>
            var map;
            var mapMarkers;
            var heatmap;
            var markerCluster;
            function initialize() {
                mapMarkers = [];
                {% if request.sessions.zoom_level != '' and request.sessions.lat != '' and request.sessions.long != '' %}
                var mapOptions = {
                    zoom: {{ request.session.zoom_level }},
                    center: new google.maps.LatLng({{ request.session.lat }}, {{ request.session.long }})
                };
                {% else %}
                 var mapOptions = {
                    zoom: 12,
                    center: new google.maps.LatLng(49.2827, -123.1207)
                };
                {% endif %}
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                var data =
                {% include "GreenCity/filterData.json" %}

		            plot_markers(map, data);
                heatmap = plot_heatmap(map, data);

            }
            google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '296712420453220',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

{% endblock %}
