<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% load static from staticfiles %}
    <link href="{% static 'map-style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <title>Django Unchained</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div id="map-canvas" class="row">
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src = "https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var map;
        function initalize() {
            var mapOptions = {
                zoom: 12,
                center: new google.maps.LatLng(49.2827, -123.1207)
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var markerSize = new google.maps.Size(21, 34);
            var markerOrigin = new google.maps.Point(0,0);
            var markerAnchor = new google.maps.Point(10, 34);
            var customIconURL = "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|";
            var markerIcons = {};
            markerIcons['Park'] = new google.maps.MarkerImage(customIconURL + "a4de94",markerSize,markerOrigin,markerAnchor);
            markerIcons['GreenCityProject'] = new google.maps.MarkerImage(customIconURL + "f75a70",markerSize,markerOrigin,markerAnchor);
            markerIcons['BikeRack'] = new google.maps.MarkerImage(customIconURL + "99dbf6",markerSize,markerOrigin,markerAnchor);
            markerIcons['ElectricVehicleChargingStation'] = new google.maps.MarkerImage(customIconURL + "f3e37b",markerSize,markerOrigin,markerAnchor);
            markerIcons['CommunityGarden'] = new google.maps.MarkerImage(customIconURL + "dc99e2",markerSize,markerOrigin,markerAnchor);
            markerIcons['CommunityFoodMarket'] = new google.maps.MarkerImage(customIconURL + "f5a864",markerSize,markerOrigin,markerAnchor);

            var icon;
            {% load greencitytags %}
            {% for feature in features %}
                icon = markerIcons["{{feature|field_type}}"];
                var coord = new google.maps.LatLng({{feature.latitude}}, {{feature.longitude}});
                var marker = new google.maps.Marker({
                    position: coord,
                    map: map,
                    icon: icon
                });
            {% endfor %}
        }

        google.maps.event.addDomListener(window, 'load', initalize);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
<!-- Latest compiled and minified JavaScript -->
</html>