<!DOCTYPE html>
<html>
	<head>
		<title>GreenCity Vancouver</title>
    	<meta charset="utf-8">
    	{% load static from staticfiles %}
    	<link href="{% static 'map-style.css' %}" rel="stylesheet" type="text/css">
		<script src = "https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<script>
			var map;
			function initalize() {
				var mapOptions = {
					zoom: 12,
					center: new google.maps.LatLng(49.2827, -123.1207)
				};
				map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

				var markerSize = new google.maps.Size(21, 34);
				var markerOrigin = new google.maps.Point(0,0);
				var markerAnchor = new google.maps.Point(10, 34);
				var customIconURL = "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|"
				var parkIcon = new google.maps.MarkerImage(customIconURL + "a4de94",markerSize,markerOrigin,markerAnchor);
				var projectIcon = new google.maps.MarkerImage(customIconURL + "f75a70",markerSize,markerOrigin,markerAnchor);
				var bikeIcon = new google.maps.MarkerImage(customIconURL + "99dbf6",markerSize,markerOrigin,markerAnchor);
				var vehicleIcon = new google.maps.MarkerImage(customIconURL + "f3e37b",markerSize,markerOrigin,markerAnchor);
				var gardenIcon = new google.maps.MarkerImage(customIconURL + "dc99e2",markerSize,markerOrigin,markerAnchor);
				var marketIcon = new google.maps.MarkerImage(customIconURL + "f5a864",markerSize,markerOrigin,markerAnchor);

				var icon;

				{% for feature in features %}
					{% load greencitytags %}
					{% if feature|field_type == "Park" %}
						icon = parkIcon
					{% elif feature|field_type == "BikeRack" %}
						icon = bikeIcon
					{% elif feature|field_type == "GreenCityProject" %}
						icon = projectIcon
					{% elif feature|field_type == "ElectricVehicleChargingStation" %}
						icon = vehicleIcon
					{% elif feature|field_type == "CommunityFoodMarket" %}
						icon = marketIcon
					{% elif feature|field_type == "CommunityGarden" %}
						icon = gardenIcon
					{% else %} 
						icon = parkIcon
					{% endif %}
					// TODO: reverse lat lng once db fixed
					var coord = new google.maps.LatLng({{feature.longitude}}, {{feature.latitude}});
					var marker = new google.maps.Marker({
						position: coord,
						map: map,
						icon: icon
					});
				{% endfor %}
			}

			google.maps.event.addDomListener(window, 'load', initalize);
		</script>
		</head>
		<body>
			<div id = 'map-canvas'></div>
		</body>
</html>